@{
    Layout = "layout.cshtml";
}

<div class="hero-unit">
	<form method="POST">
		<label for="Username">Username</label>
		<input type="text" name="Username" value="admin" placeholder="admin" />
		<label for="Password">Password</label>
		<input name="Password" type="password" value="password" placeholder="password" />
		<label class="checkbox">
			<input name="RememberMe" type="checkbox" value="True" /> Remember Me 
		</label>
		<input type="submit" value="Login" class="btn" />
	</form>
</div>